@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bg-linear-blue {
  background: linear-gradient(180deg, #64fbd7 -0.03%, #5383ff 100.04%);
}

.bg-linear-purple {
  background: linear-gradient(128.49deg, #cb5dff 0%, #1d41be 100%);
}

.bg-linear-red {
  background: linear-gradient(51.51deg, #c15cff 0%, #ff5454 100%);
}

.bg-linear-green {
  background: linear-gradient(128.49deg, #b0ff4b 0%, #11876b 100%);
}

.text-linear-gold {
  background: -webkit-linear-gradient(135.93deg, #ffd809 9.99%, #fd900c 66.61%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.leaflet-popup-content-wrapper {
  border-radius: 10px;
}

.leaflet-popup {
  position: relative;
}

.leaflet-popup-close-button {
  margin: 0.2rem;
}

.leaflet-popup-tip {
  display: none;
}
.leaflet-popup-content p {
  margin: 0;
}

.leaflet-bar a {
  background-color: black;
  transition: all linear 0.2s;
}
.leaflet-bar a span {
  background: -webkit-linear-gradient(135.93deg, #ffd809 9.99%, #fd900c 66.61%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.leaflet-bar a:hover {
  background-color: rgb(85, 85, 85);
}

.leaflet-touch .leaflet-bar {
  box-shadow: none;
  border: 1px solid white;
  border-top-left-radius: 10px;
}

.leaflet-touch .leaflet-bar a:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.leaflet-touch .leaflet-bar a:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.leaflet-touch .leaflet-bar a {
  padding: 0.5rem 1rem;
  width: auto;
  height: auto;
}

.leaflet-right .leaflet-control {
  margin-right: 2rem;
}

.leaflet-bottom .leaflet-control {
  margin-bottom: 2rem;
}

.leaflet-control {
  z-index: 0 !important;
}
.leaflet-pane {
  z-index: 0 !important;
}
.leaflet-top,
.leaflet-bottom {
  z-index: 0 !important;
}

.link-active {
  @apply font-normal;
  background: -webkit-linear-gradient(310deg, #FFD809, #FD900C, #FD900C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link-hover:hover{
  @apply font-normal;
  background: -webkit-linear-gradient(310deg, #FFD809, #FD900C, #FD900C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.oval-active {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background: -webkit-linear-gradient(310deg, #FFD809, #FD900C);
}

.gradient-text{
  background: -webkit-linear-gradient(310deg, #FFD809, #FD900C);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.arrow {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
/*     transform: rotate(90deg); */
  cursor: pointer;
}

.arrow span {
  @apply w-3 h-3;
  display: none;
  border-bottom: 3px solid #55555571;
  border-right: 3px solid #55555571;
  border-radius: 10%;
  transform: rotate(90deg);
  margin: -20px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@media screen and (min-width: 640px) {
  .arrow span {
    display: block;
  }
}

@keyframes animate {
  0% {
      opacity: 0;
      transform: rotate(45deg) translate(-25px, -25px);
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
  }
}